[mysqld]
lower_case_table_names=1
secure_file_priv="/docker-entrypoint-initdb.d/csv"
slow_query_log_file=/var/log/mysql/slow.log
slow_query_log=ON
long_query_time=0.5
log-queries-not-using-indexes

# よくわからん設定 (cache size)
table_open_cache = 4000
thread_cache_size = 50
max_heap_table_size = 64M
# tmp_table_size = 64M

disable-log-bin

#
# * InnoDB
#

# innodb_strict_mode
# innodb_buffer_pool_size = 2G
# #innodb_data_file_path = ibdata1:10M:autoextend
# innodb_log_buffer_size = 16M
# innodb_log_file_size = 512M
# innodb_doublewrite = OFF
# innodb_read_io_threads = 8
# innodb_write_io_threads = 8
# innodb_lock_wait_timeout = 5 # second
# innodb_autoinc_lock_mode = 2
# 
# innodb_flush_log_at_trx_commit = 2
# innodb_flush_log_at_timeout = 10 # flush logs once per 10 seconds
# innodb_flush_method = fsync
# 
# innodb_file_per_table = OFF
# innodb_print_all_deadlocks
# # innodb_large_prefix
# innodb_buffer_pool_dump_at_shutdown = ON
# innodb_buffer_pool_load_at_startup = ON
# innodb_buffer_pool_dump_pct = 100
# 
# inoodb_monitor_enable = all

#
# * performance_schema
#
# performance_schema = ON
# explicit_defaults_for_timestamp
# table_open_cache_instances = 8

# XXX: PRODUCTION CONFIG
# performance_schema = OFF